.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  max-width: 1400px;
  margin: 30px auto;
  padding: 50px;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.search {
  background: $color-3;
  border-radius: 20px;
  min-width: 400px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid $color-3;
  transition: 200ms ease-in-out;
  &:hover {
    border: 2px solid $color-1;
  }
  .fa-magnifying-glass {
    color: #999;
    margin-right: 10px;
    font-size: 2rem;
  }
  input {
    border: 0;
    outline: 0;
    font-size: 1rem;
    font-family: $font-p;
  }
  @media screen and (max-width: 550px) {
    min-width: 250px;
  }
}

.sort-container {
  display: flex;
  margin-top: 10px;
}

.btnSort {
  color: $color-2;
  background-color: $color-1;
  border: 0;
  padding: 10px;
  cursor: pointer;
  transition: 200ms;
  border-radius: 10px;
  margin: 0 2px;
  &:hover {
    filter: saturate(1.6);
  }
}

.search {
  margin-bottom: 10px;
}
